# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.build/
build/
coverage/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
*.xcuserstate
*.lock

# Android
android/.gradle/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/
local.properties

# VS Code
.vscode/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.buildlog/
swiftpm/
migrate_working_dir/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json